# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.csv
.vs/

Dependencies/MeshLib/app/Debug/meshlib/mrmeshpy.pyd
Dependencies/MeshLib/app/Debug/MeshLibC2.ilk
Dependencies/MeshLib/app/Debug/MRMesh.ilk
Dependencies/MeshLib/app/Debug/MRViewer.ilk
Dependencies/MeshLib/app/Debug/MRVoxels.ilk
Dependencies/MeshLib/app/Release/meshlib/mrmeshpy.pyd
Dependencies/MeshLib/lib/Debug/MeshLibC2.pdb
Dependencies/MeshLib/lib/Debug/MRMesh.pdb
Dependencies/MeshLib/lib/Debug/MRViewer.pdb
Dependencies/MeshLib/lib/Debug/MRVoxels.pdb
MMR_Project/x64/Debug/meshlib/mrmeshpy.pyd
MMR_Project/x64/Debug/MeshLibC2.ilk
MMR_Project/x64/Debug/MeshViewer.ilk
MMR_Project/x64/Debug/MRMesh.ilk
MMR_Project/x64/Debug/MRViewer.ilk
MMR_Project/x64/Debug/MRVoxels.ilk
MMR_Project/x64/Release/meshlib/mrmeshpy.pyd
MMR_Project/ConvexHulls/*
x64/Debug/meshlib/mrmeshpy.pyd
x64/Debug/MeshLibC2.ilk
x64/Debug/MRMesh.ilk
x64/Debug/MRViewer.ilk
x64/Debug/MRVoxels.ilk
x64/Release/meshlib/mrmeshpy.pyd
MMR_Project/MMR_Project/ResampledDatabase
/MMR_Project/ConvexHulls
